* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  -webkit-overflow-x: hidden;
  -moz-overflow-x: hidden;
  -ms-overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #2f3542;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3e4352;
}
/* modal */
.show{
  display: flex;
}
.hide{
  display: none;
}
.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
.content {
  background-color: white;
  border-radius: 15px;
  max-width: 420px;
  width: 100%;
  text-align: center;
  padding: 30px;
}
.content img {
  max-width: 130px;
  margin-bottom: 20px;
}
.content h4 {
  font-size: 1.53rem;
}
.content p {
  font-size: 1.15rem;
  margin: 15px 0 30px;
  font-weight: 500;
  color: #2B86A0;
}
.content button {
  width: 100px;
  padding: 10px 15px 10px 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  background-color:#2B86A0;
  color: #fff;
}
.content button:hover {
    box-shadow: 0 4px 8px 0 #48b7d6, 0 6px 20px 0 #48b7d6;
}
/* ========================================================
----------------------Header Styling-----------------------
======================================================== */
header {
  padding: 15px 70px;
  width: 100%;
  background-color: rgba(241, 241, 241, 0.5);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;
  position: fixed;
  z-index: 555;
  color: #fff;
  -webkit-backdrop-filter: blur(3px); /* Safari */
  backdrop-filter: blur(3px); /* Standard */
  -moz-backdrop-filter: blur(3px); /* Firefox */
  -ms-backdrop-filter: blur(3px); /* Edge */
}
header .logo {
  color: #2B86A0;
  font-size: 30px;
  font-weight: 500;
}
header .logo span {
  color:black;
}
.navbar-list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: black;
  transition: all 0.3s;
}
.navbar-link:hover{
  color: #2B86A0;
}
.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}
.mobile-nav-icon {
  font-size: 20px;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
/* ========================================================
----------------------Home Styling-----------------------
======================================================== */
.main {
  width: 100%;
  height: 100%;
}
.home-section {
  width: 100%;
  height: 500%;
  background-color: #e8f1f5;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section-container-1 {
  width: 50%;
  padding: 40px 0px;
}
.home-section-container-1 p {
  font-size: 25px;
  color: black;
  font-weight: 400;
}
.home-section-container-1 p span {
  color: #2B86A0;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
}
.home-section-container-1 .description {
  font-size: 13px;
  text-transform: capitalize;
  text-align: justify;
  padding-top: 20px;
  color: rgb(168, 168, 168);
}
.home-section-btn {
  margin-top: 45px;
}
.home-section-btn .button {
  background-color: #2B86A0;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s ease-in;
}
.home-section-btn .button:hover {
  box-shadow: 0 4px 8px 0 #48b7d6, 0 6px 20px 0 #48b7d6;
}
.home-social-icon-head {
  display: flex;
  margin-top: 80px;
  gap: 20px;
}
.home-social-icon-head .home-social-icon {
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  background-color: #2B86A0;
  cursor: pointer;
  padding: 15px;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  transition: all 0.5s ease-in;
}
.home-social-icon-head .home-social-icon:hover {
  transform: translateY(-10px);
}
.home-section-container-2 .home-image img {
  width: 400px;
  height: 400px;
  mix-blend-mode: multiply !important;
}
/* ========================================================
----------------------About Styling------------------------
======================================================== */
.about {
  overflow: hidden;
  width: 100%;
  height: 500%;
  background-color: #fff;
  padding: 40px 50px 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-section-container-1 {
  justify-content: center;
  animation: moving 3s ease;
}
.about-section-container-1 .about-image img {
  width: 400px;
  height: 300px;
}
.about-section-container-2 {
  padding: 10px 80px;
  width: 50%;
  margin-left: 120px;
}
.about-section-container-2 p {
  color: black;
}
.about-section-container-2 p span {
  color: #2B86A0;
}
p .about-description {
  font-size: 30px;
  text-transform: capitalize;
  text-align: justify;
  color: black !important;
  font-weight: 500;
}
.about-section-container-2 .about-content {
  font-size: 13px;
  text-transform: capitalize;
  text-align: justify;
  padding-top: 20px;
  color: rgb(168, 168, 168);
}
.about-section-container-2 .about-section-btn {
  margin-top: 45px;
}
.about-section-btn .button {
  background-color: #2B86A0;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s ease-in;
}
.about-section-btn .button:hover {
  box-shadow: 0 4px 8px 0 #48b7d6, 0 6px 20px 0 #48b7d6;
}
.skills {
  overflow: hidden;
  width: 100%;
  height: 500%;
  display: flex;
  justify-content: center;
  padding: 50px 50px 40px 50px;
  background-color: #e8f1f5;
  align-items: center;
}
.skills .skills-cont-1 {
  width: 50%;
  padding-left: 80px;
  animation: moving 3s ease;
}
.skills p {
  color: black;
}
.skills p span {
  color: #2B86A0;
}
.skills p .skills-description {
  font-size: 30px;
  color: black;
  font-weight: 500;
}
.skills .skills-content {
  font-size: 13px;
  text-transform: capitalize;
  text-align: justify;
  padding-top: 20px;
  color: rgb(168, 168, 168);
}
.skills-section-btn {
  margin-top: 45px;
}
.skills-section-btn .btn {
  background-color: #2B86A0;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  transition: all 0.2s ease-in;
}
.skills-section-btn .btn:hover {
  box-shadow: 0 4px 8px 0 #48b7d6, 0 6px 20px 0 #48b7d6;
}
.skills-cont-2 {
  padding: 30px 30px;
  display: flex;
  justify-content: center;
  width: 50%;
  animation: movingright 3s ease;
}
.skills-cont-2 .skills-cont {
  display: flex;
  gap: 80px;
}
.skills-cont-2 .skills-cont .group-skill {
  padding: 5px;
  list-style: decimal-leading-zero;
  color: #2B86A0;
}
.skills-cont-2 .skills-cont .group-skill span {
  color: black;
}
/* ========================================================
----------------------Services Styling----------------------
======================================================== */
.services{
  padding: 40px 50px;
}
.services .toptitle {
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 500;
}
.services .toptitle::after{
  content: "";
    height: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    background-color: #2B86A0;
}
.services .services-container {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.services .services-container .services-card{
  width: 300px;
  height: 500px;
  border: 1px solid #2B86A0;
  display: flex;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.205);
}
.services .services-container .services-card .img-box{
  width: 250px;
  height: 200px;
}
.services .services-container .services-card .img-box hr{
  border-color: #2B86A0;
}
.services .services-container .services-card .img-box img{
  width: 100px;
  height: 200px;
}
.services .services-container .services-card .cardcontent .title{
  font-size: 20px;
margin-top: 10px;
  font-weight: 500;
  color: black;
}
.services .services-container .services-card .cardcontent .description{
  font-size:15px;
  margin: 10px 0px;
  font-weight: 500;
  color: rgb(81, 81, 81);
  text-align: justify;
  padding: 10px 20px 20px 20px;
}
/* ========================================================
----------------------Project Styling----------------------
======================================================== */
.project {
  padding: 40px 50px;
  background-color: #e8f1f5;
}
.project p {
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 500;
}
.project p::after{
  content: "";
    height: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    background-color: #2B86A0;
}
.project .project-container {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.project-container .project-card {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  position: relative;
  border-radius: 10px;
}
.project-card .projects-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow-clip-margin: content-box;
  filter: grayscale(100%);
}
.project-card .overlay {
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  text-align: center;
  background: linear-gradient(#ffffff42, #00000075);
  -webkit-backdrop-filter: blur(3px); /* Safari */
  backdrop-filter: blur(3px); /* Standard */
  -moz-backdrop-filter: blur(3px); /* Firefox */
  -ms-backdrop-filter: blur(3px); /* Edge */
  transition: 0.8s ease;
}
.project-card .overlay h4 {
  display: block;
  color: #fff;
  font-size: 15px;
  padding-top: 30px;
}
.project-card .overlay h3 {
  display: block;
  color: #fff;
  font-size: 20px;
}
.project-card .overlay a {
  text-decoration: none;
  color: #fff;
}
.project-card:hover .overlay {
  height: 100%;
}
.project-card:hover .projects-image{
  filter: grayscale(0%);
}
/* ========================================================
----------------------Contact Styling----------------------
======================================================== */
.contact {
  width: 100%;
  padding: 40px 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contact p {
  padding: 30px 0px;
  font-size: 30px;
  text-align: center;
  color:black ;
  font-weight: 500;
}
.contact p::after{
  content: "";
    height: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    background-color: #2B86A0;
}
.contact-form {
  text-align: center;
}
.contact-form .input-fields{
  width: 60%;
  margin: 10px 20px;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  background-color: #e0e1e6;
  color: black;
}
.contact-form .textarea-field{
  width: 60%;
  height: 200px;
  margin: 10px 20px;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  background-color: #e0e1e6;
  color: black;
}
.contact-form .submitbtn {
  background-color: #2B86A0;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
}
.contact-form .submitbtn:hover {
  box-shadow: 0 4px 8px 0 #48b7d6, 0 6px 20px 0 #48b7d6;
}
/* ========================================================
----------------------Footer Styling-----------------------
======================================================== */
footer {
  padding: 30px;
  background-color: #e8f1f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 15px;
}
.footer-section .f-logo p {
  font-size: 30px;
  font-weight: 500;
}
.f-logo p span {
  color: #2B86A0;
}
.f-logo p .f-title {
  font-size: 20px;
  color: black;
  padding-top: 5px;
}

.f-icons a {
  background-color: #2B86A0;
  cursor: pointer;
  margin-left: 10px;
  padding: 15px;
  font-size: 20px;
  color: #fff;
  border-radius: 100%;
  transition: all 0.5s ease-in;
}
.f-icons a:hover {
  transform: translateY(-10px);
}

.f-copyright p {
  font-size: 15px;
  text-align: center;
  color: gray;
}
/* ========================================================
----------------------Responsive Code------------------------
======================================================== */
/* 980px */
@media (max-width: 980px) {
  /* ========================================================
----------------------Header Styling-----------------------
======================================================== */

  .mobile-navbar-btn {
    display: block;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    color: #fbc531;
    z-index: 999;
  }
  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    z-index: 888;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
  }
  .navbar-list {
    flex-direction: column;
  }
  .active .navbar {
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  /* ========================================================
----------------------Home Styling-----------------------
======================================================== */
  .home-social-icon-head {
    z-index: -0;
  }
}
@media (max-width: 819px) {
  header{
    position: relative;
  }
  .home-section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-section-container-1 {
    text-align: center;
    width: 100%;
  }
  .home-social-icon-head {
    justify-content: center;
  }
  .home-section-container-1 {
    margin-top: 40px;
  }
  .home-section-container-2 {
    margin-top: 40px;
  }
  .about {
    flex-wrap: wrap;
  }
  .about-section-container-1 {
    margin-top: 40px;
  }
  .about-section-container-2 {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-left: 0px;
    }
  .skills {
    flex-wrap: wrap;
  }
  .skills .skills-cont-1 {
    margin-top: 40px;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .skills-cont-2 {
    margin-top: 40px;
    width: 100%;
    align-items: center;
  }
  footer .footer-section {
    flex-direction: column;
    align-items: center;
  }
  .f-logo {
    margin-top: 10%;
    text-align: center;
  }
  .f-icons {
    margin-top: 10%;
  }
  .f-copyright {
    margin-top: 10%;
  }
}
